<%= render 'home/index_hdr' %>
<%= render 'home/index_scr' %>
<%= render 'index_scr' %>
<%= render 'home/index_bdy' %>
<%= render 'home/nws' %>

<div id="mainContainer" class="content_block" >
<h1>Услуги</h1>
<div id=serv_title style='background-color: lightblue;' ><p>Список предоставляемых услуг</p></div>
</div>

<%= render 'home/billboard' %>
<%= render 'home/index_f' %>
