<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :work_name %>
  </div>

  <div class="field">
    <%= form.label :nomer %>
    <%= form.number_field :nomer, id: :work_nomer %>
  </div>

  <div class="field">
    <%= form.label :descr %>
    <%= form.text_area :descr, id: :work_descr %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
