<p id="notice"><%= notice %></p>

<h1>Visitors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Login</th>
      <th>Password</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Tip</th>
      <th>Education</th>
      <th>Occupation</th>
      <th>Subsection</th>
      <th>Rating</th>
      <th>Injob</th>
      <th>Outjob</th>
      <th>Startmeeting</th>
      <th>Endmeeting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.name %></td>
        <td><%= visitor.lastname %></td>
        <td><%= visitor.login %></td>
        <td><%= visitor.password %></td>
        <td><%= visitor.email %></td>
        <td><%= visitor.phone %></td>
        <td><%= visitor.tip %></td>
        <td><%= visitor.education %></td>
        <td><%= visitor.occupation %></td>
        <td><%= visitor.subsection %></td>
        <td><%= visitor.rating %></td>
        <td><%= visitor.injob %></td>
        <td><%= visitor.outjob %></td>
        <td><%= visitor.startmeeting %></td>
        <td><%= visitor.endmeeting %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitor', new_visitor_path %>
