<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitor.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @visitor.lastname %>
</p>

<p>
  <strong>Login:</strong>
  <%= @visitor.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @visitor.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @visitor.phone %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @visitor.tip %>
</p>

<p>
  <strong>Education:</strong>
  <%= @visitor.education %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @visitor.occupation %>
</p>

<p>
  <strong>Subsection:</strong>
  <%= @visitor.subsection %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @visitor.rating %>
</p>

<p>
  <strong>Injob:</strong>
  <%= @visitor.injob %>
</p>

<p>
  <strong>Outjob:</strong>
  <%= @visitor.outjob %>
</p>

<p>
  <strong>Startmeeting:</strong>
  <%= @visitor.startmeeting %>
</p>

<p>
  <strong>Endmeeting:</strong>
  <%= @visitor.endmeeting %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
