<%= form_with(model: visitor, local: true) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :visitor_name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :visitor_lastname %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :visitor_login %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :visitor_password %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :visitor_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :visitor_phone %>
  </div>

  <div class="field">
    <%= form.label :tip %>
    <%= form.text_field :tip, id: :visitor_tip %>
  </div>

  <div class="field">
    <%= form.label :education %>
    <%= form.text_area :education, id: :visitor_education %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_area :occupation, id: :visitor_occupation %>
  </div>

  <div class="field">
    <%= form.label :subsection %>
    <%= form.text_field :subsection, id: :visitor_subsection %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :visitor_rating %>
  </div>

  <div class="field">
    <%= form.label :injob %>
    <%= form.datetime_select :injob, id: :visitor_injob %>
  </div>

  <div class="field">
    <%= form.label :outjob %>
    <%= form.datetime_select :outjob, id: :visitor_outjob %>
  </div>

  <div class="field">
    <%= form.label :startmeeting %>
    <%= form.datetime_select :startmeeting, id: :visitor_startmeeting %>
  </div>

  <div class="field">
    <%= form.label :endmeeting %>
    <%= form.datetime_select :endmeeting, id: :visitor_endmeeting %>
  </div>

  <div class="field">
    <%= form.label :avatar_file_name %>
    <%= form.file_field :avatar_file_name, id: :visitor_avatar_file_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
