<%= render 'home/index_h' %>

<!--html>
<head>
<title>Cabinet</title>
<style type="text/css">
.header {width:100px; height:50px; background-color:#717dc9; padding:20px; text-align:right}
.avatar_profile {width:40px; height:40px; background-color:#ace3ef; vertical-align:top}
.left_col_profile {width:200px; height:60px; background-color:#ace3ef; vertical-align:top}
.right_col_profile {width:700px; height:60px; background-color:#ace3ef; vertical-align:top}
.left_col {width:200px; height:40px; border-right:1px solid #ace3ef; background-color:#d9f7fe; vertical-align:top}
.right_col {width:750px; height:40px; background-color:#d9f7fe; vertical-align:top}
.right_col_ribbon {width:750px; height:100%; background-color:#d9f7fe; padding:5px; vertical-align:top}
.footer {width:100%; padding:10px 0 10px 20px; background-color:#d9f7fe; font-size:13px}
</style>
</head>
<body-->
<table cellpadding="0" cellspacing="0" width="900" align="center">
<tr>
<td class="left_col_profile" valign = "center"><p align="right"><strong><%= @visitor.name %></strong></p></td>
<td class="avatar_profile" valign = "center"><p align="left"><img src=<%= @visitor.avatar_file_name.thumb.url %> ></p></td>
</tr>
<tr>
<td class="left_col" valign = "center"><p align="right"><strong>Name:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.name %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Lastname:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.lastname %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Login:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.login %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Password:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.password %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Email:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.email %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Phone:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.phone %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Tip:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.tip %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Education:</strong></p></td>
<td class="right_col_ribbon" colspan="2" valign = "center"><p align="left"><%= @visitor.education %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Occupation:</strong></p></td>
<td class="right_col_ribbon" colspan="2" valign = "center"><p align="left"><%= @visitor.occupation %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Subsection:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.subsection %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Rating:</strong></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= @visitor.rating %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Injob:</strong></p></td>
<td class="right_col_ribbon" colspan="2" valign = "center"><p align="left"><%= @visitor.injob %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Outjob:</strong></p></td>
<td class="right_col_ribbon" colspan="2" valign = "center"><p align="left"><%= @visitor.outjob %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Startmeeting:</strong></p></td>
<td class="right_col_ribbon" colspan="2" valign = "center"><p align="left"><%= @visitor.startmeeting %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><strong>Endmeeting:</strong></p></td>
<td class="right_col_ribbon" colspan="2" valign = "center"><p align="left"><%= @visitor.endmeeting %></p></td>
</tr>
<tr>
<td class="left_col" valign = center><p align="right"><%= link_to 'Edit', edit_visitor_path(@visitor) %></p></td>
<td class="right_col" colspan="2" valign = "center"><p align="left"><%= link_to 'Back', visitors_path %></p></td>
</tr>
</table>

<!--/body>
</html-->

<%= render 'home/index_f' %>
