<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Nomer:</strong>
  <%= @work.nomer %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @work.descr %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
