<script type="text/javascript">

$(document).ready(function() {

    $('.add_evnt a').click(function(){
        //($.get('<= new_meeting_path >', function(e){alert('e');}));
        alert('qweqweqwe');
        return false;
    });

    $('#mainContainer #evnt_tag').click(function(){
        //event.preventDefault();

        if (parseInt($(this).find('span').text()) >= parseInt(gon.calend.split(' ')[0])-2) {

        var $ae = $(this).parent();
        //find('.add_evnt');
        var $lst = $ae.find('.job').clone();

        if ($ae.find('.add_evnt').is(':visible')) {
            $ae.find('.add_evnt').hide();
            $ae.find('.add_evnt').empty();
        } else {
            $ae.find('.add_evnt').append($lst).show();
            $ae.find('.add_evnt .edit').show();
            $ae.find('.add_evnt').append('<div class="new_job" width=100% ><script>alert($.get(<%= new_meeting_path %>);</script></div>');
        }

        }
    });

    $('#job_title').click(function(){
        alert($(this).text());
    });

});
</script>