<%= render 'home/index_hdr' %>
<%= render 'home/index_scr' %>
<%= render 'index_scr' %>
<%= render 'home/index_bdy' %>
<%= render 'home/nws' %>

<div id="mainContainer" class="content_block">

<h1>Работа:</h1>
<div id=job_title style='width: 100%; height: 40px; background-color: lightblue;' ><p>Список заявок по работе</p></div>
<table width=100% >
<tr><th>Календарь</th><th width=30% >События</th></tr>
<tr>
    <td>
    <%= month_calendar(attribute: :start_time, events: @meeting) do |date, meeting| %>
        <div id=evnt_tag style='width: 100px; height: 90px; text-align: right; background-color: green;' >
            <span><b><a href=# onclic='return false;' style='color: white;' ><%= date.day %></a></b></span>
            <div id=evnt_list style='width: 100%; height: 100%;'  >

                <!--= content_tag :div, class: 'add_event', data: {date: date} do >< end -->

                <% meeting.each do |meet| %>

                    <div class=job ><%= meet.name %><%= link_to '| X', meet, :class => 'edit', method: :delete %>
                    </div>

                <% end %>

            <div class='add_evnt' style='position: absolute; font-size: 8pt; width: 10%; display: none; margin-top: -60px; background-color: lightgray; border: 1px solid; text-align: left;' >

                <!--= link_to meet.name, meeting_path(meeting) >|<= link_to 'X', meet, method: :delete >

                <script>//if (<%= meeting.size %> == $('.add_evnt').length) document.write('<br><%= link_to "Создать задачу", meetings_path %>');</script>

                <!--= link_to 'Создать', meetings_path %>
                <= render 'meetings/form' >
                <= meeting.each do |mid| >
                <= @mid >
                <= event_meeting @mid.id>
                < end >
                <form method=post data-remote=true >
                    Тип:
                    <!--select id=tip name=tip >
                        <option value=0 >Выбрать</option>
                        <option value=1 >Задача</option>
                        <option value=2 >Уведомление</option>
                    </select></label>
                    Тема: <input type=text id=tag name=tag placeholder='Тема' />
                    Содержание: <input type=text id=content name=content placeholder='Содержание' />
                    <table width=100% ><tr><td>
                    <input type=submit value=ok ></td><td>
                    <input type=reset ></td>
                    </table>
                </form-->
            </div>

                <script>//$('.add_evnt').append('<%= link_to "Создать задачу", meetings_path %>');</script>

            </div>

        </div>

    <% end %>
    <!--div id=dp style='background-color: red;' ><input type=date id=datep name=datep ></div--></td>
    <td><div id=events style='width: 100%; height: 100%; background-color: yellow;' >
        </div></td>
</tr>
</table>

</div>

<%= render 'home/billboard' %>
<%= render 'home/index_f' %>
