<!--body oload="digitalWatch()" -->
	<div class="header">
		<div class="header_block">	
			<div class="logo">
				<div id="site-logo" >
					<strong>HelpingCall</strong>
				</div>
			</div>
			<div class="watch">
				<p id="digital_watch" style="color: #000000; font-weight: bold;"><%= @calend %></p>
			</div>
			<div class="messages">
				<img src='<%= asset_path "bell.gif" %>' >
			</div>		
			<div class="element">
				<p><strong>Заказы</strong></p>
			</div>
			<div class="element">
				<p><strong><input type=text size="7" value=10 ></strong></p>
			</div>
			<div class="avatar">
				<nav id=nav >
					<ul>
						<li class='btn auth-log auth-zone' styl='background-color: red;' >
							<% if employee_signed_in? or visitor_signed_in? %>
							<a href=# class=subm onclick='return false;' >
							<% if employee_signed_in? %>
								<img src="<%= current_employee.profile.thumb.url %>" style='border-radius: 10px; width: 60px; height: 60px'>
							<% elsif visitor_signed_in? %>
								<img src="<%= current_visitor.avatar_file_name.thumb.url %>" style='border-radius: 10px; width: 60px; height: 60px'>
							<!--= current_visitor.email -->
							<% end %>
								▾
							</a>
							<div id=show-subm class='' style='border: 1px solid; background: white;' >
								<ul class="profile_menu">
									<li>
										<% if visitor_signed_in? %>
											<%= current_visitor.email %>
										<% elsif employee_signed_in? %>
											<%= current_employee.email %>
										<% end %>
									</li>
									<li>
										<% if employee_signed_in? %>
											<%= link_to 'Профиль', current_employee %>
										<% elsif visitor_signed_in? %>
											<%= link_to 'Профиль', current_visitor %>
										<% end %>
									</li>
									<li>
										<% if employee_signed_in? or visitor_signed_in? %>
											<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
										<!-- elsif visitor_signed_in >
											<= link_to 'Выйти', destroy_user_session_path, :method => :delete -->
										<% end %>
									</li>
								</ul>
							</div>
							<% else %>
							<%= link_to 'Вход', new_visitor_session_path, :class => 'btn auth-log' %>
						</li>
						<li class='btn auth-reg' >
							<%= link_to 'Регистрация', new_visitor_registration_path, :class => 'btn auth-reg' %>
							<% end %>
						</li>
					</ul>
				</nav>
			</div>		
		</div>			
	</div>
	
	<div class="menu">
		<div class="menu_block">
			<div class="main_menu">
				<ul class="css-menu-1">
				  <li><a href=/jobs/index id="jobMenu" ><strong>Работа</strong></a></li>
				  <li><a href=/services/index ><strong>Услуги</strong></a></li>
				  <li><a href=/webinary/index ><strong>Вебинары/Переговорная</strong></a></li>
				  <li><strong><%= link_to "Посетители", current_visitor %></strong></li>
				  <li><a href="#" ><strong>Сотрудники</strong></a></li>
				  <li><a href="/forum" ><strong>Форум</strong></a></li>
				</ul>
			</div>
			<div class="search_block">
				<div style="background:#efefef; margin-top: 10px; float:left;"><img src='<%= asset_path "search.gif" %>'></div>
				<div style="background:#efefef; margin-top: 10px; float:left;"><input type=text size="18" value="" ></div>
			</div>			
		</div>		
	</div>	
	<div class="info_block">
		<div class="content_center_block">
			