<script type="text/javascript">

function digitalWatch() {
    var date = new Date();
	var day = date.getDate();
	var year = date.getFullYear();	
	var month=new Array(12);
	month[0]="Январь";
	month[1]="Февраль";
	month[2]="Март";
	month[3]="Апрель";
	month[4]="Май";
	month[5]="Июнь";
	month[6]="Июль";
	month[7]="Август";
	month[8]="Сентябрь";
	month[9]="Октябрь";
	month[10]="Ноябрь";
	month[11]="Декабрь";
	var mo=month[date.getMonth()];
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    if (hours < 10) hours = "0" + hours;
    if (minutes < 10) minutes = "0" + minutes;
    if (seconds < 10) seconds = "0" + seconds;
    document.getElementById("digital_watch").innerHTML = day + " " +mo+" "+year+",  "+ hours + ":" + minutes + ":" + seconds;
    setTimeout("digitalWatch()", 1000);
}

//gon.watch(calend, interval: 1000);

$(document).ready(function() {
	//alert('ready');
	
	$('#site-logo').click(function(){
	    //alert($('#site-logo').text());
	    document.location.href = '/';
	});

	$('#to_log').submit(function(event){
		event.preventDefault();
		//$.get('lk', data=$('#to_log').serialize());
		//window.location.href='lk';
		//return;
		//alert(this.value());
	});
	
	$('.btnauth-log').click(function(event){
	    //event.preventDefault();
	    $('#ath-log').show();
	    //$.get('<%= new_user_session_path %>', function(data){
	                //alert(data);
	                //$('#auth-log').html(data);
	            //});
	    return false;
	});

	$('.ar').click(function(){
	    $('#auth-log').show();
	    $.get('<%= new_user_registration_path %>', function(data){
	                $('#auth-log').html(data);
	            });
	    return false;
	});

	//$.ajax(url: '<%= new_user_session_path %>',
	    //       data:  {},
	    //       success: function(data) {
	    //          alert(data);
	            //$('.authorize').text(data);
	    //       });
	    //});
	//});
	
	$('.subm').click(function(){
	    if ($('#show-subm').is(':hidden')) {
	        $('#show-subm').show();
	    } else {
	        $('#show-subm').hide();
	    }
	    return false;
	});
	
	//$('#auth-log a.baton-auth').click(function(event){
	    //alert('#auth-log input');
	    //document.location.href = '';
	//});
	
	$('.css-menu-1 lia').click(function(){
	    //$('#mainContainer').text($(this).text());
	    //document.location.href = '/visitors#show';
	    //return false;
	});

	//$('#dp').datepicker();
	//alert('rdy');

});
</script>