<!--title>HelpingCall</title>
<!--meta charset="UTF-8" http-equiv="Refresh" content="<= @calend >" >
<!--= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true >
<!--= javascript_include_tag "application", "data-turbolinks-track" => true >
<= javascript_include_tags :defaults -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js" ></script>
<!--script src="https://code.jquery.com/jquery-3.2.1.js" ></script-->
