			<!--div class="billboard_block">
				<p align="center">Рекламный Щит</p>
			</div-->
		</div>			
	</div>	
	
	<div class="footer">
		<div class="footer_element">
			<p><strong>Все права защищены (с) 2017</strong></p>
		</div>	
		<div class="footer_element">
			<a href="#"><strong>О Сайте</strong></a>
		</div>
		<div class="footer_element">
			<a href="#"><strong>Помощь</strong></a>
		</div>
		<div class="footer_element">
			<a href="#"><strong>Команда</strong></a>
		</div>
		<div class="footer_element">
			<a href="#"><strong>Контакты</strong></a>
		</div>
		<div class="footer_element">
			<a href="#"><strong>Клиенты</strong></a>
		</div>		
	</div>	
</div>
<!--/body>
</html-->