<head>
<!--= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true -->
<!--= javascript_include_tag "application", "data-turbolinks-track" => true >
<!--= javascript_include_tag "jquery-rails.js" -->
<title>HelpingCall</title>
<meta charset="UTF-8">
<!--link rel="stylesheet" href=<= asset_path "ecpd.css" > -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js" ></script>
<!--script src='https://code.jquery.com/jquery-3.2.1.js' ></script-->

<script type="text/javascript">

function digitalWatch() {
    var date = new Date();
	var day = date.getDate();
	var year = date.getFullYear();	
	var month=new Array(12);
	month[0]="Январь";
	month[1]="Февраль";
	month[2]="Март";
	month[3]="Апрель";
	month[4]="Май";
	month[5]="Июнь";
	month[6]="Июль";
	month[7]="Август";
	month[8]="Сентябрь";
	month[9]="Октябрь";
	month[10]="Ноябрь";
	month[11]="Декабрь";
	var mo=month[date.getMonth()];
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    if (hours < 10) hours = "0" + hours;
    if (minutes < 10) minutes = "0" + minutes;
    if (seconds < 10) seconds = "0" + seconds;
    document.getElementById("digital_watch").innerHTML = day + " " +mo+" "+year+",  "+ hours + ":" + minutes + ":" + seconds;
    setTimeout("digitalWatch()", 1000);
}

$(document).ready(function() {

	$('#site-logo').click(function(){
	    alert($('#site-logo').text());
	});

	$('#to_log').submit(function(event){
		event.preventDefault();
		//$.get('lk', data=$('#to_log').serialize());
		//window.location.href='lk';
		//return;
		//alert(this.value());
	});
	
	$('.btnauth-log').click(function(event){
	    //event.preventDefault();
	    $('#ath-log').show();
	    //$.get('<%= new_user_session_path %>', function(data){
	                //alert(data);
	                //$('#auth-log').html(data);
	            //});
	    return false;
	});

	$('.ar').click(function(){
	    $('#auth-log').show();
	    $.get('<%= new_user_registration_path %>', function(data){
	                $('#auth-log').html(data);
	            });
	    return false;
	});

	    //$.ajax(url: '<%= new_user_session_path %>',
	    //       data:  {},
	    //       success: function(data) {
	    //          alert(data);
	            //$('.authorize').text(data);
	    //       });
	    //});
	//});
	
	$('.subm').click(function(){
	    if ($('#show-subm').is(':hidden')) {
	        $('#show-subm').show();
	    } else {
	        $('#show-subm').hide();
	    }
	    return false;
	});
	
	//$('#auth-log a.baton-auth').click(function(event){
	    //alert('#auth-log input');
	    //document.location.href = '';
	//});
	
	$('.css-menu-1 lia').click(function(){
	    //$('#mainContainer').text($(this).text());
	    //document.location.href = '/visitors#show';
	    //return false;
	});

	$('#dp').datepicker();
	alert('rdy');

});
</script>
</head>

<body onload="digitalWatch()">
	<div class="header">
		<div class="header_block">	
			<div class="logo">
				<div id="site-logo" >
					<strong>HelpingCall</strong>
				</div>
			</div>
			<div class="watch">
				<strong><p id="digital_watch" style="color: #000000; font-weight: bold;"></p></strong>			
			</div>
			<div class="messages">
				<img src='<%= asset_path "bell.gif" %>'>	
			</div>		
			<div class="element">
				<p><strong>Заказы</strong></p>
			</div>
			<div class="element">
				<p><strong><input type=text size="7" value=10 ></strong></p>
			</div>
			<div class="avatar">
				<nav id=nav >
					<ul>
						<li class='btn auth-log auth-zone' styl='background-color: red;' >
							<% if employee_signed_in? or visitor_signed_in? %>
							<a href=# class=subm onclick='return false;' >
							<% if employee_signed_in? %>
								<img src="<%= current_employee.profile.thumb.url %>" style='border-radius: 10px; width: 60px; height: 60px'>
							<% elsif visitor_signed_in? %>
								<img src="<%= current_visitor.avatar_file_name.thumb.url %>" style='border-radius: 10px; width: 60px; height: 60px'>
							<!--= current_visitor.email %-->
							<% end %>
								▾
							</a>
							<div id=show-subm class='' style='border: 1px solid; background: white' >
								<ul class="profile_menu">
									<li>
										<% if visitor_signed_in? %>
											<%= current_visitor.email %>
										<% elsif employee_signed_in? %>
											<%= current_employee.email %>
										<% end %>
									</li>
									<li>
										<% if employee_signed_in? %>
											<%= link_to 'Профиль', current_employee %>
										<% elsif visitor_signed_in? %>
											<%= link_to 'Профиль', current_visitor %>
										<% end %>
									</li>
									<li>
										<% if employee_signed_in? %>
											<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
										<% elsif visitor_signed_in? %>
											<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
										<% end %>
									</li>
								</ul>
							</div>
							<% else %>
							<%= link_to 'Вход', new_visitor_session_path, :class => 'btn auth-log' %>
						</li>
						<li class='btn auth-reg' >
							<%= link_to 'Регистрация', new_visitor_registration_path, :class => 'btn auth-reg' %>
							<% end %>
						</li>
					</ul>
				</nav>
			</div>		
		</div>			
	</div>
	
	<div class="menu">
		<div class="menu_block">
			<div class="main_menu">
				<ul class="css-menu-1">
				  <li><a href=/jobs/index id="jobMenu" ><strong>Работа</strong></a></li>
				  <li><a href=/services/index ><strong>Услуги</strong></a></li>
				  <li><a href=/webinary/index ><strong>Вебинары/Переговорная</strong></a></li>
				  <li><strong><%= link_to "Посетители", current_visitor %></strong></li>
				  <li><a href="#" ><strong>Сотрудники</strong></a></li>
				  <li><a href="/forum" ><strong>Форум</strong></a></li>
				</ul>
			</div>
			<div class="search_block">
				<div style="background:#efefef; margin-top: 10px; float:left;"><img src='<%= asset_path "search.gif" %>'></div>
				<div style="background:#efefef; margin-top: 10px; float:left;"><input type=text size="18" value="" ></div>
			</div>			
		</div>		
	</div>	
	<div class="info_block">
		<div class="content_center_block">
			