<%= render 'home/index_hdr' %>
<%= render 'home/index_scr' %>
<%= render 'home/index_bdy' %>
<%= render 'home/nws' %>
<%= render 'home/home' %>
<%= render 'home/billboard' %>
<%= render 'home/index_f' %>
