<%= render 'home/index_hdr' %>
<%= render 'webinary/ring/demos/index_hdr' %>
<%= render 'home/index_scr' %>
<%= render 'home/index_bdy' %>
<%= render 'home/nws' %>

<div id="mainContainer" class=content_block >
  <div style='width: 80%; height: 40px; background-color: lightblue;' >
  <div style='float: left; display: inline; widt: 60%; height: 40px;' >Переговорная</div>
  <div style='float: right; display: inline; width: 10%; height: 40px;' >Время</div>
  <div id=chat style='clear: both; width: 70%; height: 100%; background-color: green; float: left; display: inline;' >
    <br>
    <%= render 'webinary/ring/demos/index_bdy' %>
  </div>
  <div id=list style='width: 25%; height: 100%; float: right;' >
    <b>Список</b>
  </div>
</div>

<!--= render 'home/billboard' -->
<%= render 'home/index_f' %>
