<%= render 'home/index_h' %>
<%= render 'home/nws' %>

<div id="mainContainer" class=content_block >
<h1>Форум</h1>
<table style='width: 80%;' >
  <thead>
    <tr>
      <th>Выбрать</th>
      <th>Публикация</th>
      <!--th>Заголовок</th>
      <th>Содержание</th-->
      <th colspan="3">Операции</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><input type=checkbox class=pst ></td>
        <td>
        <li><%= post.name %></li>
        <li>
            <ul><%= post.title %>
                <li><%= post.content %></li>
            </ul>
        </li>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить коммент', new_post_path %>
</div>

<%= render 'home/billboard' %>
<%= render 'home/index_f' %>
