div.block {
}

.active {display: block;}
body {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    margin:0 auto;
}

div.header {
	width: 1826px;	
	margin:0 auto;
	height:120px;
	background-color:#b5d6e8;
	width:100%;
}

div.header_block {
	width: 1826px;	
	height:120px;
	margin:0 auto;	
}

div.logo{
	display: inline;
	float:left;
	font-size:50px;
	margin: 40px;
	font-family: Arial;
	font-weight: bold;
//	line-height: 38px;
	text-decoration: none;
	
}
div.element{
	display: inline;
	float:left;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 10px;	
}	
div.input{
	display: inline;
	float:left;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}
div.watch {
	display: inline;
	width: 27%;	
	float:left;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;		
}
div.avatar {
	display: inline;
	float: left;
	margin-top: -10px;	
	margin-left: 130px;
}
div.messages {
	float:left;
	margin-top: 42px;
	margin-left: 30px;
}
div.menu {
	width: 1826px;
	margin:0 auto;
	height:50px;	
	background-color: #1b668e;	
}
div.menu_block {
	margin:0 auto;
	width:1826px;	
	height:50px;
}
div.main_menu {
	display: inline;
	margin:0 auto;	
	float:left;
	width:1000px;	
	height:50px;
}
ul.profile_menu {
	float:left;	
	margin:0 auto;
	font-weight: bold;	
	font-size:11px;	
	text-align: center;	
}

ul.profile_menu li a {	
text-decoration: none;
font-weight: bold;
padding: 5px;
color: #1b668e;
}

ul.profile_menu li a:hover {
font-weight: bold;
padding: 5px;
background: #b5d6e8;
color: #1b668e;
}

ul.profile_menu li a.selected {
padding: 5px;	
background: #b5d6e8;
color: #1b668e;
}

div.profile {
float:left;
margin-top: -10px;	
margin-left: 130px;
}

ul.css-menu-1 {
margin: 0;
padding: 0;
height: 50px;
list-style-type: none;
}

ul.css-menu-1 li {
padding-top: 16px;
display: inline;
float: left;
position: relative;
height: 100%;
}

ul.css-menu-1 li a {	
text-decoration: none;
background: #1b668e;
font-weight: bold;
color: #fff;
padding: 16px 16px 16px 16px
}

ul.css-menu-1 li a:hover {
font-weight: bold;
background: #ffff;
color: black;
}

ul.css-menu-1 li a.selected {
background: #ffff;
color: black;
}

div.search_block{
	display: inline;
	width:200px;
	height:50px;
	float:right;
	margin: 0;
	padding: 0;	
	vertical-align: middle;	
}

div.info_block {
        display: inline;
	margin:0 auto;
}

div.content_center_block {
	width:1826px;	
	height:1200px;
	margin:0 auto;
}

div.news_block {
	width:300px;
	height:1200px;
	float:left;
	margin: 5px;
	background-color: white;
	border:1px solid #b5d6e8;
}

div.content_block {
	width:1200px;
	height:1200px;
	float:left;	
	margin:5px auto;
	background-color: white;	
	border:1px solid #b5d6e8;	
}

div.billboard_block {
	width:300px;
	height:1200px;
	float:left;
	background-color: white;	
	border:1px solid #b5d6e8;
	margin: 5px;
}
div.footer {
	margin:0 auto;	
	width:1200px;
	height:100px;
	font-size: 10px;
	background-color:#b5d6e8;
	clear:both
}
div.footer_element{
	float:left;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	margin-top: 30px;
	margin-left: 30px;
}
  

#site {
background-color: green;
width: 80%;
//top: 50px;
height: 100%;
margin: 0 auto;
//text-align: center;
}


#site-lk {
width: 80%;
//text-align: center;
margin: 0 auto;
}

#topmenu {width: 20%;}


#header {
top: 0;
left: 0;
height: 6em;
line-height: 6em;
cursor: default;
font-size: 1.1em;
width: 80%;
z-index: 1000;
//background:#F3A601;
}

#header h1 {
height: inherit;
line-height: inherit;
left: 3em;
margin: 0;
padding: 0;
position: absolute;
vertical-align: middle;
top: 1.2em;
}

.gorline {
display: inline-block;
border: 1px solid;
padding: 0;
margin: 0;
}

.gorline li {
padding: 0;
margin: 0;
border: 1px solid;
}

.header .header_block nav > ul {
height: ingerit;
line-height: inherit;
//right: 3em;
vertical-align: middle;
position: absolute;
margin: 0 -1em 0 0;
padding-left: 0;

//background:#F3A601;

//float: right;
//display: block;
}

nav #auth-log > li:first-child {
margin-left: 0;
border-radius: 10px 0 0 10px;
}

nav #auth-reg > li:last-child {
border-radius: 0 10px 10px 0;
}

.header .header_block nav > ul > li {
display: inline-block;
margin-right: -0.3em;
padding-left: 1em;
padding-right: 0.3em;
//border: 1px solid;
}

.header .header_block nav > ul li > a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    text-decoration: none;
}

#header nava {
    color: #000;
    display: inline-block;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    text-decoration: none;
}

.header .header_block nav > ul .btn {
background: transparent;
margin-top: 10px;
margin-left: -7px;
vertical-align: middle;
color: #black;
}

.header .header_block nav > ul .btn .auth-log {
padding: 5px;

}

.header .header_block nav > ul .btn .auth-log:hover {
padding: 5px;
background-color: white;
}

.header .header_block nav > ul .btn .auth-reg {
padding: 5px;
}


.header .header_block nav > ul .btn .auth-reg:hover {
padding: 5px;
background-color: white;
}


.header .header_block nav ul .auth-zone {
padding: 5px;
//background-color: red;
}

//#header nav ul .auth-zone:nth(2) {
//margin-left: 0;
//background-color: red;
//}

#menu1{
    align: right;
    position:relative;
    display:block;
    width:80%;
    height:auto;
    z-index:10;
}
    #menu1 ul{
        position:relative;
        display:block;
        margin:0px;
        padding:0px;
        width:100%;
        height:auto;
        #list-style:none;
        background:#F3A601;
    }
    #menu1 > ul::after{
        display:block;
        width:100%;
        height:0px;
        clear:both;
        content:" ";
    }
        #menu1 ul li{
            position:relative;
            display:block;
            float:left;
            width:auto;
            height:auto;
        }
            #menu1 ul li a{
                display:block;
                padding:9px 25px 0px 25px;
                font-size:14px;
                font-family:Arial, sans-serif;
                color:#ffffef;
                line-height:1.3em;
                text-decoration:none;
                font-weight:bold;
                text-transform:uppercase;
                height:36px;
                box-sizing:border-box;
            }
            #menu1 ul li > a:hover, #menu1 ul li:hover > a{
                background:#EBBD5B;
                color:#2B45E0;
            }

#menu2{
    position:relative;
    display:inline;
    width:100%;
    height:auto;
    z-index:10;
}
    #menu2 ul{
        position:relative;
        display:block;
        margin:0px;
        padding:0px;
        width:100%;
        height:auto;
        #list-style:none;
        background:#F3A601;
    }
    #menu2 > ul::after{
        display:block;
        width:100%;
        height:0px;
        clear:both;
        content:" ";
    }
        #menu2 ul li{
            position:relative;
            display:block;
            float:left;
            width:auto;
            height:auto;
        }
            #menu2 ul li a{
                display:block;
                padding:9px 25px 0px 25px;
                font-size:14px;
                font-family:Arial, sans-serif;
                color:#ffffef;
                line-height:1.3em;
                text-decoration:none;
                font-weight:bold;
                text-transform:uppercase;
                height:36px;
                box-sizing:border-box;
            }
            #menu2 ul li > a:hover, #menu2 ul li:hover > a{
                background:#EBBD5B;
                color:#2B45E0;
            }




#menu1 ul li input {
width: 80px;
height: 30px;
}

#work-time {
//border: 1px solid;
//width: 100%;
margin-left: 30px;
display: inline;
float:left;
font-size: 50px;
//text-align: left;
//height: 10%;
}


.subm {
width: 100%;
display: none;
backgroundcolor: red;
}

#show-subm {
width: 100%;
display: none;
position: absolute;
}


.logo {
display: block;
float: left;
}

#logo {
width: 60px;
height: 60px;
}


#authorize {
position: absolute;
//margin-top: -55px;
text-align: right;
//text-color: red;
background-color: gray;
width:18%;
float: right;
display: inline;
}


#auth {
display: none;
width: 30%;
position: absolute;
background-color: gray;
}

.new-acc {
display: none;
//float: right;
}

#ath-log {
display: none;
float: right;
position: relative;
width: 211px;
margin-top: -33px;
margin-right: -122px;
padding-left: 20px;
background-color: gray;
//height: 100px;
border: 1px solid gray;
border-radius: 0 0 15px 15px;
}

#ath-log label {displa: none; width: 120px;}
#ath-log input[type=email] {paddingtop: 40px; displa: none;}

#ath-log .field, .actions {
width: 100px;
height: 25px;
margin: 0;
padding: 0;
}

//label { margin:0; padding: 0;}
.new_user {display: inline;}

#header nav input {width: 90px;}

#lk-header {
}

#person_list {
width: 90%;
border-radius: 15px 15px 0 0;
display: block;
border: 1px solid;
//float: left;
//text-align: center;
//background-color: gray;
}

#person_info {
display: block;
//float: left;
align: center;
background-color: gray;
width: 40%;
border-radius: 15px;
border: 1px solid;
}

#person_info table th, tr:last-child {
background-color: lightgray;
}

#person_info table tr:last-child {
text-align: center;
}

#person_info table {
//border: 1px solid;
width: 100%;
}

#person_list table {
//border: 1px solid;
width: 70%;
}

#person_list table a {text-decoration: none;}
#person_list table .dob {background-color: green;}
#person_list table .ud {background-color: red;}
#person_list table .izm {background-color: yellow;}


.edit {display: none;}