
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <!--link rel="shortcut icon" href=<= asset_path "logo.png" > >
  <link rel="stylesheet" type="text/css" hre=<= "stylesheet.css" > -->
  <link rel="stylesheet" hre="https://cdn.webrtc-experiment.com/style.css" >

  <!--link rel="shortcut icon" href="logo.png" >
  <link rel="stylesheet" type="text/css" href="stylesheet.css" >
  <link rel="stylesheet" href="https://cdn.webrtc-experiment.com/style.css" -->

    <style>
    p,.inner {
        padding: 1em;
    }
    li {
        border-bottom: 1px solid rgb(189, 189, 189);
        border-left: 1px solid rgb(189, 189, 189);
        padding: .5em;
    }
    label {
        display: inline-block;
        width: 8em;
    }

    h1 span {
        background: yellow;
        border: 2px solid #8e1515;
        padding: 2px 8px;
        margin: 2px 5px;
        border-radius: 7px;
        color: #8e1515;
        display: inline-block;
    }
    </style>

    <style>
        .recordrtc button {
            font-size: inherit;
        }

        .recordrtc button, .recordrtc select {
            vertical-align: middle;
            line-height: 1;
            padding: 2px 5px;
            height: auto;
            font-size: inherit;
            margin: 0;
        }

        .recordrtc, .recordrtc .header {
            display: block;
            text-align: center;
            padding-top: 0;
        }

        .recordrtc video, .recordrtc img {
            max-width: 100%!important;
            vertical-align: top;
        }

        .recordrtc audio {
            vertical-align: bottom;
        }

        .recordrtc option[disabled] {
            display: none;
        }

        .recordrtc select {
            font-size: 17px;
        }
    </style>

    <!--= javascript_include_tag "demos/RecordRTC/RecordRTC.js" >
    <= javascript_include_tag "dist/RTCMultiConnection.js" >

    <script src='<= "demos/RecordRTC/RecordRTC.js" %>' ></script>
    <script src='<= "dist/RTCMultiConnection.js" %>' ></script>
    <script src='<= "demos/RecordRTC/libs/gif-recorder.js" %>' ></script>

    <!--script src="../dev/RecordRTC.js" ></script>
    <script src="../dist/RTCMulticonnection.js" ></script>
    <script src="/RecordRTC/libs/gif-recorder.js" ></script-->

    <!-- for Edge/FF/Chrome/Opera/etc. getUserMedia support >
    <script src='{ static "ring/dev/gumadapter.js" }' ></script>
    <script src='{ static "ring/dev/DetectRTC.js" }' ></script>
    <!--script src="../dev/gumadapter.js" ></script>
    <script src="../dev/DetectRTC.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script-->

    <script>
	$(document).ready(function(){
	alert('panel');
	//$('.video-container-format').hide();
	$('h2.header').hide();
	});
    </script>