<!DOCTYPE html>
<html>
  <head>
    <title>HelpingCall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--meta charset="UTF-8" http-equiv="Refresh" content="<= @calend >" -->
    <%= include_gon(watch: true) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
